button{
    background-color: #504caf;}
button:hover{
    background-color: #292759;
    cursor: pointer;
}
.window{
    background-color: #8f8fbc;
}
.wordTitle{
    
    color: #292759;
}
.listenTitle{
    
    color: #292759;
}
.micAnimated{
    color: #292759;
}
table{
    color: #292759;
}
.numberIcons{
    background-color: #292759}