button{
    background-color: #504caf;}
button:hover{
    background-color: #292759;
    cursor: pointer;
}
.window{
    background-color: #8f8fbc;

.wordTitle{
    font-size: 75px;
    color: #292759;
}