body{
    background-color:#d6d0ca ;
}
button{
    background-color: #0e004e;
    color: white;
}
button:hover{
    background-color: #05001d;
    cursor: pointer;
}
.optionBtn{
    background-color: #d6d0ca;
    color: #0e004e;
}
.optionBtn:hover{
    background-color: #d6d0ca;
    color: #05001d;
}
.window{
    background-color: #fff5f2;
    color: #0e004e;
}


.numberIcons{
    background-color: #2e2e2e6c}

.HFWindow{
    background-color: #d1bca7;
}
.HFRepeat{
    background-color: #d1bca7;
}