body{
    background-color:#2e2e2e ;
}

button{
    background-color: #575757;
}
button:hover{
    background-color: #292828;
    cursor: pointer;
}
.window{
    background-color: #171717;
    
    
    color: white;
    
}
.wordTitle{
    font-size: 75px;
    color: white;
}
.optionBtn{
    background-color: #2e2e2e;
    color: grey;
}
.optionBtn:hover{
    background-color: #2e2e2e;
    color: lightgray;
}
.micIcon{
    color: white;
}