body{
    background-color:#2e2e2e ;
}

button{
    background-color: #575757;
}
button:hover{
    background-color: #292828;
    cursor: pointer;
}
.window{
    background-color: #171717;
    border-radius: 10%;
    text-align: center;
    color: white;
    margin-top: 0%;
    margin-left: -25%;
    position: absolute;
    width: 50%;
    height: 75%;
    left: 50%;
}
.wordTitle{
    font-size: 75px;
    color: white;
}
.optionBtn{
    background-color: #2e2e2e;
    color: grey;
}
.optionBtn:hover{
    background-color: #2e2e2e;
    color: lightgray;
}
.micIcon{
    color: white;
}