button{
    background-color: #4CAF50;
    color: white;
}
button:hover{
    background-color: #275929;
    cursor: pointer;
}
.window{
    background-color: #8fbc8f;
    
}
.wordTitle{
    font-size: 75px;
    color: #275929;
}