button{
    background-color: #4CAF50;
    color: white;
}
button:hover{
    background-color: #275929;
    cursor: pointer;
}
.window{
    background-color: #8fbc8f;
    
}
.wordTitle{
    
    color: #1f4620;
}
.listenTitle{
    
    color: #1f4620;
}

.micAnimated{
    color: #1f4620;
}
table{
    color: #1f4620;
}

.numberIcons{
    background-color: #1f4620}

.HFWindow{
    background-color: #90ee90;
}
.HFRepeat{
    background-color: #90ee90;
}