button{
    background-color: #4CAF50;
    color: white;
}
button:hover{
    background-color: #275929;
    cursor: pointer;
}
.window{
    background-color: #8fbc8f;
    color: #1f4620;
}




.numberIcons{
    background-color: #2e2e2e6c}

.HFWindow{
    background-color: #90ee90;
}
.HFRepeat{
    background-color: #90ee90;
}