body{
    font-family: "Lucida Console";
}

.window{
  border-radius: 10%;
    text-align: center;
    
    margin-top: 0%;
    margin-left: -25%;
    position: absolute;
    width: 50%;
    height: 75%;
    left: 50%;
}

.startBtn{
   
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
    margin-top: 15%;
    border-radius: 50%;
}


.selectBtn{
    
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
    padding: 40px;
    border-radius: 50%;
}

.soundBtn{
     
  border: none;
  color: white;
  position: absolute;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  left:80%;
  margin-top: 5%;
    padding: 10px;
    border-radius: 50%;
    font-size: 60px;
}


.optionBtn{
    
        background-color: white; 
      border: none;
      color: black;
      
      text-align: center;
      text-decoration: none;
     
      
        padding: 5px;
        
}
.optionBtn:hover{
    background-color: white;
    color: dimgray;
}
.wordTitle{
  font-size: 100px;
  margin-top: 10%;
}
.listenTitle{
  font-size: 100px;
  margin-top: 10%;
}

.closeBtn{
    
    background-color: black; 
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
 
  
    padding: 5px;
    font-size: 40px;
}
.closeBtn:hover{
    background-color: black;
    color: dimgray;
}

.optionsIcon{
    font-size: 100px;
}
.micAnimated{
    margin-top: 30%;
    font-size: 250px;
    animation: pulse 1.5s infinite;
    
}


table{
    width: 50%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
table th{
    font-size: 60px;
    padding: 30px;
}
table td{
    padding: 50px;
}
.definition{
    background-color: #00000023;
    border-radius: 10%; 
    padding-left: 8px;
    padding-right: 8px;
}
.sidenav {
    height: 100%;
    width: 0;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
  
  }
  .sidenav a {
    padding: 9px 9px 9px 33px;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    transition: 0.4s;
    border-bottom: 1px solid #f1f1f1;
    
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: block;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;
    z-index: 99 !important; }
  

    .slidecontainer {
      width: 100%;
    }
    
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 40px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider:hover {
      opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      background: #363636;
      cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 40px;
      height: 40px;
      background: #363636;
      cursor: pointer;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .switchslider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .switchslider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .switchslider {
      background-color: #2196F3;
    }
    
    input:focus + .switchslider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .switchslider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .switchslider.round {
      border-radius: 34px;
    }
    
    .switchslider.round:before {
      border-radius: 50%;
    }

    .optionTitle{
      color: white; 
      font-size: 20px;
      margin-bottom: 10px;
    }

    @keyframes pulse {
      0% {
        
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      }
    
      70% {
        
        text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
      }
    
      100% {
        
        text-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
      }
    }

@media screen and (max-width:2560px) {
    .startBtn{ padding:150px 200px;
    }
    .micIcon{ font-size: 200px;}
}
@media screen and (max-width:1920) {
    .startBtn{ padding:150px;}
}

@media only screen and (max-width:1100px) {
    .window{width: 90%;
    margin-left: -45%;
  margin-top: 10%;}
  .optionsIcon{
    font-size: 150px;
  }
    .startBtn{ padding:150px;}
    .optionTitle{font-size: 50px; margin-top: 40px;}
    .closeBtn{font-size: 60px;
    margin-bottom: 20px;}
    .sidenav a {font-size: 35px;}
    .switchslider{
      width: 120px;
      height: 60px;
    }
    .switchslider:before{
      height: 50px;
      width: 50px;
    }
    input:checked + .switchslider:before { 
      -webkit-transform: translateX(55px);
      -ms-transform: translateX(55px);
      transform: translateX(55px);
    }
    .slider{
      height: 60px;
    }
    .slider::-webkit-slider-thumb {
      height: 60px;
      width: 60px;
    }
}

